@import 'styles/theme';

.EntityAttributes {
  &--hidden {
    color: $light1;
  }

  &--itemMultiline {
    white-space: pre-line;
  }
}

.EntityAttributes-Section {
  margin-bottom: 1rem;
}

.EntityAttributes-Tag {
  margin: 0 1rem 2rem 1rem;
  text-align: left;
}

.EntityAttributes-Content {
  font-size: 0.9rem;
  font-weight: 200;
  color: $light2;
}

.EntityAttributes-ContentList {
  margin-top: 0.1rem;
}

.EntityAttributes-Attributes {
  margin: 0 1rem 1rem 1rem;
  width: calc(100% - 2rem);
}

.EntityTag--edit {
  margin: 0 1rem 0.5rem;
}

.EntityTag-Dropdown {
  flex: 1;
}

.EntityAttributes-Checkbox {
  margin-left: 0.5rem;
  margin-right: 0;
}

.EntityAttributes-SubHeader {
  color: $light2;
  margin: 0 1rem;
}

.EntityAttributes-SubHeaderHidden {
  margin: 0rem 0.1rem 0 0.5rem;
}
