@import '~styles/theme';

.FloatingToolbar {
  font-size: 0.9rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.FloatingToolbar-Item {
  background-color: $dark2;
  border-bottom: 1px solid $dark3;
  color: $light1;
  cursor: pointer;
  padding: 0.5rem;
  position: relative;
  transition: color, background-color 0.2s linear;

  &:hover {
    background-color: $dark3;
    color: $light2;

    .FloatingToolbar-SubList {
      display: flex;
      position: absolute;
    }
  }

  &:first-of-type {
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
  }

  &:last-of-type {
    border-bottom: 0;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }
}

.FloatingToolbar-SubList {
  display: none;
  padding-right: 0.6rem;
  right: 100%;
  top: 0;
}

.FloatingToolbar-SubItemOuter {
  background-color: $dark2;
  border-bottom: 1px solid $dark3;
  border-left: 1px solid $dark3;
  border-right: 1px solid $dark3;

  &:first-of-type {
    border-top: 1px solid $dark3;
  }

  &:first-of-type,
  &:first-of-type .FloatingToolbar-SubItemName {
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
  }

  &:first-of-type .FloatingToolbar-SubItemName--edit {
    border-top-right-radius: 0;
  }

  &:last-of-type,
  &:last-of-type .FloatingToolbar-SubItemName {
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }

  &:last-of-type .FloatingToolbar-SubItemName--edit {
    border-bottom-right-radius: 0;
  }
}

.FloatingToolbar-SubItemName {
  flex: 1;
}

.FloatingToolbar-ItemAction {
  border-left: 1px solid $dark3;
  flex: 0;

  a {
    color: $light1;
  }
}

.FloatingToolbar-SubItemName,
.FloatingToolbar-ItemAction {
  align-items: center;
  color: $light2;
  cursor: pointer;
  padding: 0.6rem 0.8rem;
  text-decoration: none;
  transition: color, background-color 0.2s linear;
  white-space: nowrap;

  &:hover {
    background-color: $dark3;
    color: $light4;
  }
}

.FloatingToolbar-Container .react-hint__content {
  font-size: 0.9rem;
  white-space: nowrap;
}

.FloatingToolbar-Lock--active,
.FloatingToolbar-Lock--active:hover,
.FloatingToolbar-SubItemName--active,
.FloatingToolbar-SubItemName--active:hover {
  background-color: $primary;
  transition: color 0.2s linear;
}

.FloatingToolbar-CreateLayer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;

  span {
    margin-left: 0.5rem;
    margin-right: 0.8rem;
  }
}
