@import '~styles/theme';

.EntityActions-TypeHeader {
  color: $light1;
  margin-left: 0.8rem;
}

.EntityActions-Welcome {
  padding-top: 3rem;
}

.EntityActions-WelcomeList {
  color: $light1;
  margin: 0 1rem 0 0.5rem;
}

.EntityActions-WelcomeItem {
  margin-top: 1rem;
}
