service cloud.firestore {
  match /databases/{database}/documents {
    match /sectors/{sector=**} {
      allow delete: if resource.data.creator == request.auth.uid;
      allow create, update: if false;
      allow read;
    }
    match /entities {
      match /{entityType}/entity/{entityId} {
        allow create: if request.auth != null &&
          entityType in ["asteroidBase", "asteroidBelt", "blackHole", "deepSpaceStation",
            "gasGiantMine", "moon", "moonBase", "note", "orbitalRuin", "planet",
            "refuelingStation", "researchBase", "sector", "spaceStation", "system"];
        allow update, delete: if resource.data.creator == request.auth.uid &&
          entityType in ["asteroidBase", "asteroidBelt", "blackHole", "deepSpaceStation",
            "gasGiantMine", "moon", "moonBase", "note", "orbitalRuin", "planet", 
            "refuelingStation", "researchBase", "sector", "spaceStation", "system"];
        allow read;
      }
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}