@import 'styles/theme';

.EntityAttributes-Section {
  margin-bottom: 1rem;
}

.EntityAttributes-Tag {
  margin: 0 1rem 2rem 1rem;
  text-align: left;
}

.EntityAttributes-Content {
  font-size: 0.9rem;
  font-weight: 200;
  color: $light2;
}

.EntityAttributes-ContentList {
  margin-top: 0.1rem;
}

.EntityAttributes-Attributes {
  border-spacing: 0.5rem;
  display: table;
  margin: 0 1rem 1rem 1rem;
  width: calc(100% - 2rem);
}

.EntityAttributes-Attribute {
  color: $light2;
  display: table-row;
  font-size: 0.9rem;
  padding: 0.2rem 0;
}

.EntityAttributes-Header {
  display: table-cell;
  padding-right: 0.5rem;
}

.EntityAttributes-Item {
  display: table-cell;
  width: 100%;
}

.EntityTag--edit {
  margin: 0 1rem 0.5rem;
}

.EntityTag-Action {
  color: $light2;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: all 0.3s;

  &:hover {
    color: $light3;
  }
}

.EntityTag-Dropdown {
  flex: 1;
}
