@import 'styles/theme';

.SystemEditModal-Planet {
  margin-bottom: 0.3rem;
}

.SystemEditModal-Help {
  margin-bottom: 0.1rem;
}

.SystemEditModal-Delete {
  cursor: pointer;
  margin-right: 0.5rem;
  transition: all 0.3s;

  &:hover {
    color: $light3;
  }
}

.SystemEditModal-Add {
  cursor: pointer;
  margin-top: 0.5rem;
  transition: all 0.3s;
  font-size: 0.9rem;

  &:hover {
    color: $light3;
  }
}

.SystemEditModal-Generate {
  margin-left: 0.5rem;
  margin-right: 0;
}

.SystemEditModal-Plus {
  margin-right: 0.6rem;
}
