@import '~styles/theme';
@import '~styles/constants';

.GameRoutes {
  display: grid;
  grid-template-columns: [navigation] $large-navigation-width [game] auto [end];
  height: 100vh;
  width: 100vw;
}

.GameRoutes-Navigation {
  grid-column: navigation / game;
}

@media (max-width: 1500px) {
  .GameRoutes {
    grid-template-columns: [navigation] $small-navigation-width [game] auto [end];
  }
}

@media (max-width: 700px) {
  .GameRoutes {
    grid-template-columns: auto;
  }
}

@media print {
  .GameRoutes {
    display: block;
  }
}
