@import 'styles/theme';

.Hex-System {
  fill: $light3;
}

.Hex-BlackHole {
  fill: black;
}

.Hex-Polygon {
  fill: $dark4;
  stroke: $dark3;
  stroke-width: 2px;
  transition: all 0.3s;

  &--highlighted {
    fill: $dark2;
  }
}

.Hex {
  cursor: default;

  &--clickable {
    cursor: pointer;
  }

  &--drag {
    cursor: move;
  }

  &--movable {
    .Hex-Polygon {
      fill: $dark1 !important;
    }

    .Hex-Text {
      stroke: $dark3;
    }
  }

  &--hoverable {
    .Hex-Polygon {
      fill: $dark2;
    }

    &:hover .Hex-Polygon {
      fill: $primary;
    }
  }

  &--active {
    .Hex-Polygon {
      fill: $primary-alt;
    }
  }
}

.Hex-Text {
  font-size: 9px;
  font-weight: 100;
  stroke: $light1;
  text-anchor: middle;
  stroke-width: 0.6px;
  user-select: none;
}

.Hex-Children {
  transform: translateY(7px);
}

.Hex-Key {
  transform: translateY(-3px);
}

.Hex-Name {
  display: none;
  transform: translateY(-24px);
}

@media print {
  .Hex-BlackHole,
  .Hex-Text {
    fill: $dark4;
    stroke: $dark4;
    font-size: 25px;
  }

  .Hex-System {
    stroke: $dark4;
    fill: white;
    font-size: 25px;
    stroke-width: 6px;
  }

  .Hex-Name {
    display: block;
  }

  .Hex-Children {
    transform: translateY(25px);
  }

  .Hex-Key {
    transform: translateY(-8px);
  }

  .Hex-Polygon,
  .Hex--hoverable .Hex-Polygon {
    fill: white;
    stroke-width: 3px;
    stroke: $dark4;
  }
}
