@import 'styles/theme';

.AccountManager-Button {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.AccountManager-Dropdown {
  outline: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;

  &--active {
    color: $light4;

    &:hover {
      border-color: transparent;
    }

    .AccountManager-Menu {
      display: block;
    }
  }
}

.AccountManager-Menu {
  top: 100%;
  bottom: auto;
  left: 0;
  right: auto;
  margin: 0.7em 0 0;
  min-width: 100%;
  cursor: auto;
  position: absolute;
  display: none;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  border: 1px solid $dark1;
  transition: opacity 0.1s ease;
  will-change: transform, opacity;

  &:after {
    border-left: 1px solid $dark1;
    border-top: 1px solid $dark1;
    top: -0.3em;
    left: calc(50% - 0.5em);
    transform: rotate(45deg);
    position: absolute;
    pointer-events: none;
    content: '';
    width: 0.5em;
    height: 0.5em;
    box-shadow: -1px -1px 0 0 rgba(34, 36, 38, 0.15);
    background: $dark2;
  }
}

.AccountManager-Item {
  background-color: $dark2;
  color: $light3;
  cursor: pointer;
  line-height: 1em;
  padding: 0.8rem 1rem;
  text-align: left;

  &:hover {
    background-color: $dark3;
    color: $light4;
  }
}
