@import 'styles/theme';

.PlanetInfo-Section {
  margin-bottom: 1rem;
}

.PlanetInfo-Tag {
  margin: 0 1rem 2rem 1rem;
  text-align: left;
}

.PlanetInfo-Content {
  font-size: 0.9rem;
  font-weight: 200;
  color: $light2;
}

.PlanetInfo-ContentList {
  margin-top: 0.1rem;
}

.PlanetInfo-Attribute {
  font-size: 0.9rem;
  font-weight: 200;
  color: $light2;
  margin: 0.2rem 1rem;
}

.PlanetInfo-Error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}
