.CondensedPrintable-Entity {
  page-break-after: always;
  width: 100vw;
}

.CondensedPrintable-EntityTitle {
  margin-bottom: 1rem;
}

.CondensedPrintable-Table {
  font-size: 0.8rem;
  width: 100%;
}
