@import '~styles/theme';

.LegalPage {
  color: $light2;
  line-height: 1.5;
  max-width: 36rem;
  padding: 0 1rem 3rem;
}

.LegalPage-Header {
  margin-top: 3rem;
}

.LegalPage-Date {
  color: $light1;
  margin-top: 0;
  text-align: center;
}

.LegalPage-Section {
  color: $light4;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1.5rem 0 0.5rem;
}

.LegalPage-List {
  padding-left: 1.2rem;

  li {
    margin-bottom: 0.5rem;
  }
}

.LegalPage-Link {
  color: $light3;
  transition: color 0.2s linear;

  &:hover {
    color: $light4;
  }
}

.LegalPage-Footer {
  border-top: 1px solid $dark1;
  margin-top: 2rem;
  padding-top: 1.5rem;

  .LegalPage-Link {
    margin: 0 0.75rem;
    text-decoration: none;
  }
}
