@font-face {
  font-family: 'KillTheNoise';
  src: url('fonts/KillTheNoise.eot');
  src: url('fonts/KillTheNoise.woff') format('woff'),
    url('fonts/KillTheNoise.ttf') format('truetype'),
    url('fonts/KillTheNoise.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
