$dark4: #233142;
$dark3: #283647;
$dark2: #303e4f;
$dark1: #637182;
$primary: #863c4e;
$primary-alt: #6d2335;
$light1: #8f8f8f;
$light2: #b2b2b2;
$light3: #dbdbdb;
$light4: #e3e3e3;

$error: #fa755a;

$facebook: #3b5998;
$google: #d34836;
