$dark4: #091833;
$dark3: #13223d;
$dark2: #1d2c47;
$dark1: #133e7c;

$cyber: #d600ff;
$error: #fc3c3c;
$primary: #863c4e;
$primary-alt: #792f41;

$light1: #8f8f8f;
$light2: #b2b2b2;
$light3: #dbdbdb;
$light4: #e3e3e3;

$facebook: #3b5998;
$google: #d34836;
