@import 'react-redux-toastr/src/styles/index';
@import 'styles/theme';

body {
  margin: 0;
  padding: 0;
  background-color: $dark4;
}

* {
  font-family: 'Raleway', sans-serif !important;
}

.DefaultIcon g {
  fill: $light2;
}
