@import 'styles/theme';

.Navigation-Info {
  height: 100vh;
  width: 100%;
}

.Navigation-Header {
  padding-bottom: 0.6rem;
  border-bottom: 1px solid $dark2;
}

.Navigation-TypeHeader {
  color: $light1;
  margin-left: 0.8rem;
}

.Navigation-Footer {
  padding: 0.6rem 0;
  border-top: 1px solid $dark2;
}

.Navigation-Spacer {
  background-color: $dark1;
  width: 1px;
  margin: 0.3rem;
}
