@import '~styles/theme';

.container {
  flex: 1;
  max-height: 100vh;
  max-width: 400px;
  min-width: 300px;
}

.list {
  overflow: auto;
  width: 100%;
}

.selectedItem {
  background-color: $dark3;
}

.arrow {
  color: $dark4;
}
