@import '~styles/theme';
@import '~styles/constants';

.SectorMap {
  display: grid;
  grid-template-columns: [map] auto [sidebar] $large-sidebar-width [end];
  overflow: hidden;
}

.SectorMap-Map {
  position: relative;
  grid-column: map / sidebar;
}

.SectorMap-Sidebar {
  grid-column: sidebar / end;
  overflow: auto;
}

@media (max-width: 700px) {
  .SectorMap-Sidebar {
    display: none;
  }
}

@media (max-width: 1200px) {
  .SectorMap {
    grid-template-columns: [map] auto [sidebar] $small-sidebar-width [end];
  }
}
