@import 'styles/theme';

.ActionLayout-Info {
  height: 100vh;
  width: 100%;
}

.ActionLayout-Header {
  border-bottom: 1px solid $dark2;
  overflow: hidden;
}

.ActionLayout-SubHeader {
  padding-bottom: 0.6rem;
}

.ActionLayout-Footer {
  padding: 0.6rem 0;
  border-top: 1px solid $dark2;
}

.ActionLayout-Spacer {
  background-color: $dark1;
  width: 1px;
  margin: 0.2rem;
}

.ActionLayout-Patreon {
  color: $cyber;
}
