@import 'styles/theme';

.HexMap-SVG {
  display: flex;

  &--drag {
    cursor: move;
  }
}

.HexMap-Container {
  background-color: $dark3;
  display: flex;
  overflow: hidden;
  position: relative;
}

.HexMap-Message {
  color: $light3;
  max-width: 200px;
}

@media print {
  .HexMap-Container {
    display: none;
  }
}
