@import 'styles/theme';

.ActionHeader {
  border-bottom: 1px solid $dark2;
  overflow: hidden;
}

.ActionHeader-SubHeader {
  padding-bottom: 0.6rem;
}

.ActionHeader-Spacer {
  background-color: $dark1;
  width: 1px;
  margin: 0.2rem;
}
