@import 'styles/theme';

.EntityEditRow {
  margin: 1rem;
}

.EntityEditRow-Name {
  flex: 1;
  margin: 0 0.5rem 0 0;
  text-align: left;
}

.EntityEditRow-Delete {
  color: $error;

  &:hover {
    color: $error;
    border-color: $error;
  }
}
