@import 'styles/theme';

$margin: 1.55rem;

.Navigation {
  background-color: $dark2;
  height: 100vh;
  width: 200px;
}

.Navigation-LinkContainer {
  width: 100%;
}

.Navigation-Icon {
  display: inline-block;
  margin: 0 $margin;
}

.Navigation-Title {
  display: inline-block;
  font-size: 16px;
  margin: 0 $margin 0 0;
  text-align: left;
  width: calc(100% - (1.55rem * 3) - 25px);
}

.Navigation-Link {
  color: $light3;
  cursor: pointer;
  background-color: $dark3;
  padding: 1.1rem 0;
  text-align: center;
  text-decoration: none;
  transition: color, background-color linear 0.2s;
  width: 100%;

  &:hover,
  &--active {
    background-color: $dark4;
    color: $light4;
  }

  &.Navigation-Login {
    background-color: $primary;

    &:hover {
      background-color: $primary-alt;
    }
  }
}

@media (max-width: 1500px) {
  .Navigation {
    width: 75px;
  }

  .Navigation-Icon {
    margin: auto;
  }

  .Navigation-Title {
    display: none;
  }
}
