@import 'styles/theme';

.SectionHeader {
  color: $light4;
  border-bottom: 1px solid $light1;
  margin: 1rem;
  padding: 0.5rem 0.3rem;
  width: calc(100% - 2.4rem);
}

.SectionHeader-Inner {
  font-size: 1.3rem;
  font-weight: 200;
  margin: 0 0 0 0.2rem;
  text-align: left;
}
