@import 'styles/theme';

.EntityTooltips-Tooltip {
  max-width: 15rem;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity 0.5s;
  z-index: 1;

  &--hovered {
    opacity: 1;
  }
}

.EntityTooltips-Text {
  background-color: $light4;
  padding: 0.8rem;
  border-radius: 6px;
  transform: translateX(-50%) translateY(-100%);
  z-index: 1;

  &:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-top-color: $light4;
  }
}

.EntityTooltips-Name {
  color: $dark4;
  font-size: 1.1rem;
  margin: 0;
}

.EntityTooltips-Key {
  color: $light1;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.EntityTooltips-Regions {
  color: $dark1;
  font-size: 0.8rem;
  margin-top: 0.4rem;
  text-align: center;

  b {
    color: $dark2;
  }
}
