@import '~styles/theme';

.tooltip {
  max-width: 15rem;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.5s;
  z-index: 1;

  &--hovered {
    opacity: 1;
  }
}

.text {
  background-color: $light4;
  padding: 0.6rem;
  border-radius: 6px;
  transform: translateX(-50%) translateY(-100%);
  z-index: 1;

  &:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-top-color: $light4;
  }
}

.name {
  color: $dark4;
  font-size: 1.1rem;
  margin: 0;
  white-space: nowrap;
}

.key {
  color: $light1;
  font-size: 0.8rem;
  margin: 0 0 0.1rem 0.5rem;
}

.regions {
  margin-top: 0.4rem;
  text-align: center;
}

.layer {
  font-size: 0.75rem;
  margin-bottom: 0.3rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  b {
    color: $dark2;
    line-height: 0.85rem;
    margin: 0;
  }

  span {
    color: $dark1;
    line-height: 0.85rem;
    margin: 0 0 0 0.2rem;
    white-space: nowrap;
  }
}
