@import 'styles/theme';

.ExpandedPrintable * {
  font-family: 'Helvetica', sans-serif !important;
}

.ExpandedPrintable-Container {
  display: none;
  width: 100vw;
  height: 100vh;
}

.ExpandedPrintable-EntityContainer {
  display: none;
}

.ExpandedPrintable-Entity {
  page-break-after: always;
}

.ExpandedPrintable-EntityTitle {
  margin-bottom: 1rem;
}

.ExpandedPrintable-Table {
  font-size: 0.8rem;
}

@media print {
  .ExpandedPrintable-Container,
  .ExpandedPrintable-EntityContainer {
    display: inherit;
  }
}
