@import 'styles/utilities';
@import 'styles/theme';

$bg-color: $dark4;
$txt-color: $cyber;
$color-c1: #00b8ff;
$color-c2: #001eff;

$offset-c1: 3;
$offset-c2: 4;

$lay-c1: 3;
$lay-c2: 4;

.Home-Header {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: bg-move 2s linear infinite;
    background-size: 100% 8px;
    background-image: linear-gradient(
      0,
      rgba(255, 255, 255, 0.05) 10%,
      transparent 10%,
      transparent 50%,
      rgba(255, 255, 255, 0.05) 50%,
      rgba(255, 255, 255, 0.05) 60%,
      transparent 60%,
      transparent
    );
  }
}

.Home-Glitch {
  cursor: default;
  display: block;

  &:hover {
    animation: text-bag 4s linear infinite;
    transform: skewX(0deg) scaleY(1);

    .Home-MainHeader {
      &:before {
        left: -(#{$offset-c2}px);
        text-shadow: #{$lay-c2}px 0 $color-c2;
        animation: c2 2s infinite linear alternate-reverse;
      }
      &:after {
        left: #{$offset-c1}px;
        text-shadow: -(#{$lay-c1}px) 0 $color-c1;
        animation: c1 4s infinite linear alternate-reverse;
      }
    }
  }
}

.Home-MainHeader {
  color: $cyber;
  font-family: 'KillTheNoise', sans-serif !important;
  font-size: variableSize(46, 150);
  font-weight: 200;
  line-height: variableSize(8, 90);
}

.Home-SubHeader {
  font-size: variableSize(26, 72);
  font-style: italic;
  font-weight: bold;
}

.Home-MainHeader {
  display: block;
  position: relative;

  &:before,
  &:after {
    display: block;
    content: attr(data-text);
    font-size: variableSize(45, 149);
    position: absolute;
    top: 0;
    color: $txt-color;
    background: $bg-color;
    overflow: hidden;
    clip: rect(0, 9999px, 0, 0);
  }
}

@keyframes c1 {
  @for $i from 0 through 20 {
    #{$i * (1 / 20) * 10 * 10%} {
      clip: rect(#{randomVal(80)}px, 9999px, #{randomVal(80)}px, 0);
    }
  }
}

@keyframes c2 {
  @for $i from 0 through 20 {
    #{$i * (1 / 20) * 10 * 10%} {
      clip: rect(#{randomVal(80)}px, 9999px, #{randomVal(80)}px, 0);
    }
  }
  23% {
    transform: scaleX(0.9);
  }
}

@keyframes text-bag {
  @for $i from 0 through 50 {
    #{$i * (1 / 50) * 10 * 10%} {
      transform: translate(#{randomVal(5)}px, #{randomVal(5)}px);
    }
  }
  1% {
    transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    transform: scaleY(3) skewX(-60deg);
  }
  2% {
    transform: scaleY(1) skewX(0deg);
  }
  51% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}

@keyframes bg-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -32px;
  }
}
