@import 'styles/theme';

.Home-Header {
  height: 100vh;
}

.Home-MainHeader {
  color: $cyber;
  font-family: 'KillTheNoise', sans-serif !important;
  font-size: 8rem;
  font-weight: 200;
}

.Home-SubHeader {
  font-size: 4rem;
  font-style: italic;
  font-weight: bold;
}
