@import "styles/theme";

.PrintableSector-Container {
  display: none;
  width: 100vw;
  height: 100vh;
}

.PrintableSector-SystemsContainer {
  display: none;
  padding: 2rem 0;
}

.PrintableSector-Systems {
  page-break-inside: avoid;
}

.PrintableSector-System {
  margin: 0 1rem;
  width: calc(33.3% - 2rem);
}

.PrintableSector-SystemHeader {
  border-bottom: 1px solid $dark1;
  margin-bottom: 0.5rem;
}

.PrintableSector-SystemTitle {
  margin-bottom: 0.5rem;
}

.PrintableSector-SystemKey {
  color: $dark1;
  margin-left: 0.5rem;
}

.PrintableSector-Planet {
  color: $dark4;
  margin: 0 0.8rem 0.5rem;
}

.PrintableSector-PlanetAttribute {
  margin: 0.1rem 0;
}

@media print {
  .PrintableSector-Container,
  .PrintableSector-SystemsContainer {
    display: inherit;
  }
}
