@import 'styles/theme';

.Table {
  border-collapse: collapse;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  width: 100%;

  &--centered.Table-Header,
  &--centered.Table-Element {
    text-align: center;
  }
}

.Table-Header {
  border-bottom: 2px solid $dark1;
  border-collapse: collapse;
  font-weight: 700;
  padding: 0px 4px 4px;
  text-align: left;
  vertical-align: bottom;

  &--light {
    border-bottom-color: $light3;
  }
}

.Table-Element {
  font-weight: 400;
  padding: 3px 5px;
  border-bottom: 1px solid $dark1;

  &--light {
    border-bottom-color: $light3;
  }
}
