.FlexContainer {
  display: flex; }

.FlexContainer-Align--stretch {
  align-items: stretch; }

.FlexContainer-Align--center {
  align-items: center; }

.FlexContainer-Align--flexStart {
  align-items: flex-start; }

.FlexContainer-Align--flexEnd {
  align-items: flex-end; }

.FlexContainer-Align--baseline {
  align-items: baseline; }

.FlexContainer-Align--initial {
  align-items: initial; }

.FlexContainer-Align--inherit {
  align-items: inherit; }

.FlexContainer-Direction--row {
  flex-direction: row; }

.FlexContainer-Direction--column {
  flex-direction: column; }

.FlexContainer-Justify--flexStart {
  justify-content: flex-start; }

.FlexContainer-Justify--flexEnd {
  justify-content: flex-end; }

.FlexContainer-Justify--center {
  justify-content: center; }

.FlexContainer-Justify--spaceBetween {
  justify-content: space-between; }

.FlexContainer-Justify--spaceAround {
  justify-content: space-around; }

.FlexContainer-Justify--spaceEvenly {
  justify-content: space-evenly; }

.FlexContainer-Justify--initial {
  justify-content: initial; }

.FlexContainer-Justify--inherit {
  justify-content: inherit; }

.FlexContainer-Flex--0 {
  flex: 0; }

.FlexContainer-Flex--1 {
  flex: 1; }

.FlexContainer-Shrink--0 {
  flex-shrink: 0; }

.FlexContainer-Shrink--1 {
  flex-shrink: 1; }

.FlexContainer-Wrap {
  flex-wrap: wrap; }

.FlexContainer-Scroll {
  overflow: scroll; }
