@import 'styles/theme';

.IconInput {
  flex: 1;
  position: relative;
  width: 100%;
}

.IconInput-Input {
  padding-right: 40px;
}

.IconInput-Icon {
  color: $dark1;
  position: absolute;
  right: 12px;
  top: 11px;
  transition: all 0.3s;

  &--clickable {
    cursor: pointer;
  }

  &:hover {
    color: $dark3;
  }
}
