@import 'styles/theme';

.EntityLinkRow-RightArrow {
  color: $dark3;
  transition: color 0.5s;
}

.EntityLinkRow {
  color: $dark3;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  transition: background-color 0.5s;

  &:hover {
    background-color: $primary;

    .EntityLinkRow-RightArrow {
      color: $light4;
    }
  }
}
