@import "styles/theme";

.Button {
  background-color: transparent;
  border: 1px solid $light4;
  border-radius: 4px;
  box-sizing: border-box;
  color: $light4;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  height: 38px;
  letter-spacing: .1rem;
  outline: none;
  line-height: 38px;
  margin: 0.4rem 1rem;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 0.3s;
  font-weight: 400;

  &:hover {
    color: $light2;
    border-color: $light2;
    outline: 0;
  }
}
