@import 'styles/theme';

.FactionAttributes-Title {
  font-style: italic;
  margin-right: 0.3rem;
}

.FactionAttributes-TagEffect {
  margin-bottom: 1rem;
}

.FactionAttributes-Effect {
  font-style: italic;
  margin-right: 0.8rem;
}

.FactionAttributes-AttributeContainer {
  margin-bottom: 1rem;
}

.FactionAttributes-Attribute {
  align-items: center;
}

.FactionAttributes-Value {
  color: $light4;
  font-size: 3.5rem;
  line-height: 3.2rem;
}

.FactionAttributes-Superscript {
  font-size: 1.2rem;
  margin-left: 0.2rem;
}
