@import 'styles/theme';

.LayerSidebar {
  font-size: 0.9rem;
  margin-top: 1rem;
}

.LayerSidebar-Hidden {
  color: $light1;
  margin: 0 1rem 1rem;

  span {
    margin-left: 0.5rem;
  }
}

.LayerSidebar-DescriptionContainer {
  color: $light3;
  margin: 0 1rem;
}

.LayerSidebar-Label {
  font-weight: bold;
}

.LayerSidebar-Description {
  color: $light3;
  font-weight: 100;
  margin-top: 0.3rem;
}

.LayerSidebar-AddButton {
  margin: 0;
}
