@import '~styles/theme';

.LayerSidebar {
  font-size: 0.9rem;
  margin: 1rem 0 2rem;
}

.LayerSidebar-Hidden {
  color: $light1;
  margin: 0 1rem 1rem;

  span {
    margin-left: 0.5rem;
  }
}

.LayerSidebar-DescriptionContainer {
  color: $light3;
  margin: 0 1rem;
}

.LayerSidebar-Label {
  font-weight: bold;
}

.LayerSidebar-Description {
  color: $light3;
  font-weight: 100;
  margin-top: 0.3rem;
}

.LayerSidebar-ColorHint {
  position: relative;

  &::after {
    border: 5px solid transparent;
    border-left: none;
    border-right-color: $light4;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    height: 0;
    right: auto;
    top: 0;
    width: 0;
  }

  &--content {
    background-color: $light4;
    left: 5px;
    position: absolute;
    top: -16px;
  }

  &--picker {
    background-color: $light4;
  }
}
