@import 'styles/theme';

.SectorBuilderInfo-Welcome {
  padding-top: 3rem;
}

.SectorBuilderInfo-WelcomeList {
  color: $light1;
  margin: 0 1rem 0 0.5rem;
}

.SectorBuilderInfo-WelcomeItem {
  margin-top: 1rem;
}
