.FactionForm,
.FactionAssetForm {
  margin: 0 1rem 1rem;
}

.FactionAssetForm-Row {
  margin-top: 0.4rem;
}

.FactionAssetForm-IconInput {
  flex: 0;
}

.FactionAssetForm-IconLabel {
  margin-left: 0.2rem;
}
