.container {
  margin: 0 1rem 0.4rem;
}

.topRow {
  margin-top: 0;
}

.loneInput {
  padding-bottom: 0.5rem;
}

.iconInput {
  flex: 0;
}

.iconLabel {
  display: block;
  margin: 0.1rem 0 0 0.2rem;
}

.hitPoints {
  width: 5rem;
}
