@import "styles/theme";

.System-Circle {
  fill: $light3;
}

.System-Polygon {
  fill: $dark4;
  transition: all 0.3s;

  &--highlighted {
    fill: $dark2;
  }
}

.System-Hex {
  cursor: default;

  &--clickable {
    cursor: pointer;
  }

  &--hoverable {
    .System-Polygon {
      fill: $dark2;
    }
    &:hover .System-Polygon {
      fill: $primary;
    }
  }
}

.System-Text {
  font-size: 9px;
  font-weight: 100;
  stroke: $light1;
  text-anchor: middle;
  stroke-width: 0.6px;
}

.System-Planets {
  transform: translateY(7px);
}

.System-Key {
  transform: translateY(-3px);
}

@media print {
  .System-Circle,
  .System-Text {
    fill: $dark4;
    stroke: $dark4;
    font-size: 25px;
  }

  .System-Planets {
    transform: translateY(21px);
  }

  .System-Key {
    transform: translateY(-8px);
  }

  .System-Polygon,
  .System-Hex--hoverable .System-Polygon {
    fill: white;
    stroke-width: 2px;
    stroke: $dark4;
  }
}
