@import "styles/theme";

.Header {
  color: $light4;
  font-weight: 200;
  margin: 1rem 0;
  text-align: center;
}
.Header-1 {
  font-size: 4rem;
  font-weight: 300;
}
.Header-2 {
  font-size: 1.7rem;
}
.Header-3 {
  font-size: 1.4rem;
}
.Header-4 {
  font-size: 1.1rem;
}
